.box {
	position: relative;
	height: 280px;
	width: 430px;
	background: #DED6F7;
	border-radius: 15px;
}

.buttons {
	background: #F6F3F3;
	border-radius: 50%;
	cursor: pointer;
	display: block;
	height: 100px;
	margin: 20px;
	width: 100px; 

	box-shadow: 0 3px 20px rgba(0,0,0,.25),inset 0 2px 0 rgba(255,255,255,.6),
	0 2px 0 rgba(0,0,0,.1), 0 2px 0 rgba(0,0,0,.1), inset 0 0 20px rgba(0,0,0,.2);
}

.below {
	position: absolute;
	right: 145px;
}

.below1, .below2, .below3 {
	margin-top: 140px;
	display:inline-block;
}