.wrapper{
	padding:15px;
	border:1px solid black;
	background:#eee;
}
.box{
	display:inline-block;
	height:300px;
	width:300px;
	background:lightblue;
	float:right;
}
.text::after{
	clear:both;
	display:block;
	content:'Clerfix псевдоэлемент для починки.';
}

